
@model WorldNews.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "login";
}

<div class="login pt-5 mt-5">

    <div class="pt-5 mt-5 w-25 h-25 m-auto">

        <form class="pt-5 mt-5" action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div calss="form-group form-check">
                <label class="form-check-label " asp-for="RememberMer"></label>
                <input class="form-check-input ml-3" asp-for="RememberMer" />
            </div>

            <button class="btn m-3" style="background-color:#cda45e">Sign In</button>

        </form>

    </div>

</div>

