@model WorldNews.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

    <div style="background-color:dimgray">
        <div class="container m-5 p-5">
            
            <div class="row">
                <h2 class="pt-5">Register</h2>
                <div class="col-md-4 mt-5 pt-5 m-auto">
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button class="btn" style="background-color:#cda45e">Register</button>

                    </form>
                </div>
            </div>
        </div>
        
    </div>