
@model News

@{
    ViewData["Title"] = "Middle East";
}



<div  style="background-color:whitesmoke" class="text-center mt-5 pt-5">
       <img src="@Model.NewImage" class="img-fluid m-auto mt-5 pt-5" alt="...">
            <div class="m-auto">
                <h5 class="card-title text-dark">@Model.Title</h5>
                <p class="card-text text-black-50">@Model.Topic</p>
            </div>     
</div>




